@import "tailwindcss";

@theme{

  --primary-color: #A55EEA; 
  --secondary-color: #648DFD; 
  --white: #ffff;
  --black: #050505;
  --main-gradient: linear-gradient(45deg, #A55EEA 0%, #648DFD 100%);
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
